---
layout: page
title: Qui écrit ?
permalink: /authors
comments: false
---
<div class="list-authors mt-5">
{% for author in site.authors %}
    <div id="{{ author[1].name }}" class="authorbox position-relative pb-5 pt-5 mb-4 mt-4 border">
        <div class="row">
            <div class="wrapavname col-md-3 text-center">
                {% if author[1].gravatar %}
                <img  class="author-thumb" src="https://www.gravatar.com/avatar/{{ author[1].gravatar }}?s=250&d=mm&r=x" alt="{{ author.nickname }}">
                {% else %}
                <img  class="author-thumb" src="{{site.baseurl}}/{{ author[1].avatar }}" alt="{{ author.nickname }}">
                {% endif %}

                <p class="mt-4 mb-0 small text-center">

                    {% if author[1].web %}
                        <a target="_blank" class="d-inline-block mx-1 text-dark" href="{{ author[1].web }}"><i class="fa fa-link"></i></a>
                    {% endif %}

                    {% if author[1].twitter %}
                        <a target="_blank" class="d-inline-block mx-1 text-dark" href="{{ author[1].twitter }}"><i class="fab fa-twitter"></i></a>
                    {% endif %}

                    {% if author[1].email %}
                        <a class="d-inline-block mx-1 text-dark" href="mailto:{{ author[1].email }}"><i class="fa fa-envelope"></i></a>
                    {% endif %}

                </p>

            </div>
            <div class="col-md-9">
                <h3>{{ author[1].nickname }}</h3>
                <p class="mt-3 mb-0">{{ author[1].description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
