---
layout: default
title: 404
permalink: /404.html
---
<style>
    .newsletter, .footer {
        display:none;
    }
</style>
<div class="text-center">
<img class="benderimg" src="/assets/images/404.png" alt="Dragan bender tristounet"></img>
<h1 class="bender">404</h1>
<h1 class="bendertext">Ta recherche a autant d'impact que la draft de Dragan :(</h1>
<p class="benderaccueil">On a rien trouvé, tu peux retourner à l'accueil <a href="https://rallythevalley.fr">en cliquant ici </a>!</p>
</div>
