<div class="share">
    <p>
        Partager sur
    </p>
    <ul>
          <li class="ml-1 mr-1">
              <a target="_blank" href="https://twitter.com/intent/tweet?text=RallyTheValley ⸱ fr - {{ page.title }}&url=https://rallythevalley.fr{{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                  <i class="fab fa-twitter"></i>
              </a>
          </li>

          <li class="ml-1 mr-1">
              <a target="_blank" href="https://facebook.com/sharer.php?u=https://rallythevalley.fr{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                  <i class="fab fa-facebook-f"></i>
              </a>
          </li>

          <li class="ml-1 mr-1">
              <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://rallythevalley.fr{{ page.url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                  <i class="fab fa-linkedin-in"></i>
              </a>
          </li>

      </ul>
</div>
