<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

<title>{{ page.title }} | {{site.name}}</title>

{% seo %}

<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

</head>

{% if jekyll.environment == 'production' %}
<!-- change your GA id in _config.yml -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>
{% endif %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>

<!-- Begin Sidebar Navigation
================================================== -->

<div class="sidebar">
</div>
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <a href="{{ site.baseurl }}/"><img class="logomenu" src="/assets/images/small-logo.png" alt="logo historique Suns"></img></a>
        <h3>Menu</h3>
        <li><a href="{{ site.baseurl }}/">Accueil</a></li>
        <li><a href="{{ site.baseurl }}/about">A Propos</a></li>
        <li><a href="{{ site.baseurl }}/authors">Qui écrit ?</a></li>
        <li><a href="{{ site.baseurl }}/calendrier">Calendrier</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
</nav>

{% include search-lunr.html %}


<!-- End Sidebar Navigation
================================================== -->

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

<div class="container">

    <!-- Site Logo/Name & Site Tag
    ================================================== -->

    <div class="navbar-brand">
        <a href="{{ site.baseurl }}/">
<div class="grostitre">{{ site.title }}
          </div>
      </a>
        <p class="sitetag">
            {{ site.description }}
        </p>
  </div>
    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>

    {% if site.mailchimp-list %}
    <!-- Newsletter
    ================================================== -->
    <div class="newsletter text-center">
        <span class="h4"><img src="{{ site.baseurl }}/{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group d-inline-flex">
            <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>
    {% endif %}

</div>

<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div>
                Copyright © {{ site.time | date: "%Y" }} - Not Jerry Colangelo - {{ site.name }} (Unofficial NBA / Phoenix Suns blog)
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

</body>
</html>
