---
layout: default
disqus: false
archive: false
post_class: post-template
---
    <!-- Post Title -->
<div class="entry-header">
    <h1 class="posttitle">{{ page.title }}</h1>
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
    {% include adsense-under-header.html %}
{% endif %}

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Author & Date  Box -->
<div class="entry-header">
{% assign author = site.authors[page.author] %}
{% if page.author %}
<div class="d-flex align-items-center mt-4">
    <div>
        {% if author.avatar %}
        <img class="author-thumb" src="https://circa1984.gitlab.io/notjerrycolangelo/assets/images/greg-article.png" alt="{{ author.display_name }}">
        {% else %}
        <img class="author-thumb" src="https://circa1984.gitlab.io/notjerrycolangelo/assets/images/greg-article.png" alt="{{ author.display_name }}">
        {% endif %}
    </div>
    <div>
    écrit par {{ author.display_name }} le
    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
    {% if page.last_modified_at %}
    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
    {% endif %}
    </div>
</div>
{% endif %}
</div>

<!-- Content -->
{% include article.html %}

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}
